<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <header></header>

      <main>
        <div class="registration-container">
          <div class="registration-heading">
            <h2>Registration Form</h2>
          </div>

          <div class="registration-input">
            <p id="error-msg">* Please fill all fields</p>

            <label for="first-name">First name</label> <br />
            <input type="text" id="first-name" name="first-name" placeholder="First name..." class="input-details" />
            <br />

            <label for="last-name">Last name</label> <br />
            <input type="text" id="last-name" name="last-name" placeholder="Last name..." class="input-details" />
            <br />

            <label for="email">Email</label> <br />
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter email"
              class="input-details"
            />
            <br />

            <label for="mobile">Mobile number</label> <br />
            <input
              type="tel"
              id="mobile"
              name="mobile"
              placeholder="Enter mobile number"
              class="input-details"
            />
            <br />

            <label for="password">Password</label> <br />
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              class="input-details"
            />
            <br />

            <label for="conform-password">Conform Password</label> <br />
            <p id="wrong-password">*Password is not matching.</p>
            <input
              type="password"
              name="conform-password"
              id="conform-password"
              placeholder="conform password"
              class="input-details"
            />

            <div class="registration-button-container">
              <button id="registration-button">Register</button>
            </div>
          </div>

          <div>
            <p>Already have an account. <a href="login.html">Login</a></p>
          </div>
        </div>
      </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>